body{
    margin: 0;
    padding: 0;
    background-color: rgb(138, 114, 114);
    font-family: Arial, sans-serif;
}

header{
    background-color: rgb(12, 12, 39);
    color: rgb(222, 90, 14);
    padding: 20px;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 2.5rem;
}

header p{
    margin: 0;
    font-size: 1.5rem;
}

section{
    margin: 20px 0;
    padding: 20px;
    background-color:brown;
    border-radius: 5px;
    box-shadow: 0 0 2px ;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white; 

}

footer p{
    margin: 0;
}
