body{
    background-color: rgb(171, 156, 156);
    color: rgb(134, 23, 23);
}

.center{
    text-align:center;
}

.xyz{
    background-color: rgb(19, 16, 16);
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    height: 500px;
    width: 400px;

}

.container{
    text-align: center;
}

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    /* background-color: rgb(10, 37, 24); */
}

.row{
    margin: 8px 0;
}

.row input{
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;  
}