body{
    background-color: rgb(239, 22, 22);
    color: black;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header{
    background: black;
    color: white;
    padding: 1rem 0;
}

.header  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    font-size: 1.5rem;
    color: rgb(18, 205, 31);
}

.header .nav-links{
    list-style: none;
    display: flex;

}

.header .nav-links li{
    margin-left: 2rem;
}

.header .nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 1 rem;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hero {
    background: white;
    color: black;
    padding: 2em 0;
    text-align: center; 
}

.hero .btn {
    background: black;
    color: white;
    padding: 0.7em 1.2em;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1em;
}

.hero .btn:hover {
    background: gray;
}


.about {
    background: white;
    color: black;
    padding: 2em 0;
    text-align: center;
}

.services {
    background: white;
    color: black;
    padding: 2em 0;
    text-align: center;
}

.service-box {
    background: white;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
} 

.footer{
    background: black;
    color: white;
    padding: 1rem o;
    text-align: center;
}

.footer p{
    margin: 0.5rem 0;
}