 body{
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

body, h1, h2, p, ul{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container{
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}


.header{
    background: #1b0707;
    color: #fff;
    padding: 1rem 0;
}

.header  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    font-size: 1.5rem;
    color: rgb(18, 205, 31);
}

.header .nav-links{
    list-style: none;
    display: flex;

}

.header .nav-links li{
    margin-left: 2rem;
}

.header .nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 1 rem;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hero {
    background: #e2e2e2;
    color: #333;
    padding: 2em 0;
    text-align: center; 
}

.hero .btn {
    background: #333;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1em;
}

.hero .btn:hover {
    background: #555;
}


.about {
    background: #fff;
    color: #333;
    padding: 2em 0;
    text-align: center;
    
}

.services {
    background: #f4f4f4;
    color: #333;
    padding: 2em 0;
    text-align: center;
}

.service-box {
    background: #fff;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
} 

.footer{
    background: #333;
    color: #fff;
    padding: 1rem o;
    text-align: center;
}

.footer p{
    margin: 0.5rem 0;
} 


















 
