 body{
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

body, h1, h2, p, ul{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container{
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}


.header{
    background-color: #1b0707;
    padding: 1rem 0;
}

 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600px;
}

 .nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin-left: 2rem;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    font-weight: 400px;
}

.hero {
    background: #e2e2e2;
    color: #333;
    padding: 2em 0;
    text-align: center; 
}

.hero .btn {
    background: #333;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1em;
}

.hero .btn:hover {
    background: #555;
}


.about {
    background: #fff;
    color: #333;
    padding: 2em 0;
    text-align: center;
    
}

.services {
    background: #f4f4f4;
    color: #333;
    padding: 2em 0;
    text-align: center;
}

.service-box {
    background: #fff;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
} 

.footer{
    background: #333;
    color: #fff;
    padding: 1rem o;
    text-align: center;
}

.footer p{
    margin: 0.5rem 0;
} 




.nav-links .btn-download {
    background: #ff6363;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-links .btn-download:hover {
    background: #e65050;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #ff9966, #ff5e62);
    color: #fff;
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.hero .hero-heading {
    font-size: 2.5rem;
    font-weight: 600;
}

.hero .hero-subheading {
    font-size: 1.2rem;
    margin: 1rem 0;
    max-width: 600px;
}

.hero .btn-primary {
    background: #ff6363;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: background 0.3s;
}

.hero .btn-primary:hover {
    background: #e65050;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}














 
